* {
  margin: 0;
  padding: 0;
  transition: 0,5s;
  box-sizing: border-box;
  font-family: 'Segoe UI'; }
  * ul, * ol {
    list-style: none; }
  * a {
    text-decoration: none;
    color: black; }

body {
  overflow-x: hidden; }

.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7; }
  .contact-form form {
    padding-bottom: 1rem; }
    .contact-form form .form-control {
      width: 100%;
      border: 1.5 solid #c7c7c7;
      border-radius: 5px;
      padding: 0.7rem;
      margin: 0.6rem 0;
      font-size: 1rem;
      outline: 0; }
      .contact-form form .form-control:focus {
        box-shadow: 0 0 6px -3px #2d2b2b; }
  .contact-form form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem; }
  .contact-form .send-btn {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: blueviolet;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease; }
    .contact-form .send-btn:hover {
      opacity: 0.8; }

header {
  background-color: rgba(201, 180, 219, 0.85); }
  header .navbar {
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block; }
  header .nav-logo {
    border-radius: 100px;
    width: 100px; }

.bannerindex {
  background-image: url(../img/27.jpg);
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center; }
  .bannerindex .textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif; }

.benef-circle {
  filter: drop-shadow(0 0 0.3rem rgba(77, 64, 81, 0.893));
  opacity: 0.9; }

.img-circle {
  border-radius: 100%;
  filter: drop-shadow(0 0 0.3rem rgba(77, 64, 81, 0.893));
  width: 200px;
  height: 200px; }

.bannerabtme {
  background-image: url(../img/100.jpg);
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center; }
  .bannerabtme .textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif; }

.abtme-banner {
  background-color: #3b043515;
  background-size: contain;
  height: 400px; }

.list-form {
  list-style-type: disc;
  list-style: circle; }

.motivacional-banner {
  background-color: #cebcdd5e;
  background-size: contain;
  height: 100px;
  font-size: 16px;
  font-weight: 600; }

.textbanner1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  font-family: Garamond, serif; }

.bannermindf {
  background-image: url(../img/340.jpg);
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .bannermindf .textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif; }

.bannerclases {
  background-image: url(../img/261.jpg);
  width: 100vw;
  height: 75vh;
  background-size: cover;
  background-position: bottom; }
  .bannerclases .textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif; }

.contact-section .contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(176, 176, 176, 0.448), rgba(221, 208, 208, 0.426)), url(/img/lotus.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-section .contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400; }
  .contact-section .contact-bg h2 {
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px; }
  .contact-section .contact-bg .line {
    display: flex;
    align-items: center; }
  .contact-section .contact-bg .line div {
    margin: 0 0.2rem; }
  .contact-section .contact-bg .line div:nth-child(1),
  .contact-section .contact-bg .line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #50235a;
    border-radius: 10px; }
  .contact-section .contact-bg .line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #50235a;
    border-radius: 50%; }
  .contact-section .contact-bg .text {
    margin: 1.6rem 0; }

.contact-section .text {
  font-weight: 300;
  opacity: 0.9; }

.contact-section .contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2rem 0; }
  .contact-section .contact-body .contact-info {
    margin: 2rem;
    text-align: center;
    padding: 2rem 0; }
    .contact-section .contact-body .contact-info span {
      display: block; }
      .contact-section .contact-body .contact-info span .fas {
        font-size: 2rem;
        padding-bottom: 0.9rem;
        color: blueviolet; }
      .contact-section .contact-body .contact-info span .fab {
        font-size: 2rem;
        padding-bottom: 0.9rem;
        color: blueviolet; }
    .contact-section .contact-body .contact-info div {
      margin: 0.8rem 0;
      padding: 1rem; }
    .contact-section .contact-body .contact-info div span:nth-child(2) {
      font-weight: 500;
      font-size: 1.1rem; }
    .contact-section .contact-body .contact-info .text {
      padding-top: 0.4rem; }

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr); } }

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%; }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; } }

@media screen and (min-width: 1200px) {
  .contact-bg .text {
    width: 50%; }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(147, 3, 128, 0.31);
  color: black; }
  footer .footer-20 {
    padding: 10px 0;
    background-color: #cebcdd;
    display: flex;
    flex-direction: column;
    width: 100%; }
    footer .footer-20 .social {
      text-align: center;
      padding-bottom: 25px;
      color: black; }
      footer .footer-20 .social a {
        font-size: 24px;
        color: inherit;
        border: 1px solid #232222;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75; }
        footer .footer-20 .social a:hover {
          opacity: 15; }
    footer .footer-20 ul {
      margin-top: 0;
      padding: 0;
      list-style: none;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 0;
      text-align: center; }
      footer .footer-20 ul li {
        display: inline-block;
        padding: 0 15px; }
        footer .footer-20 ul li a {
          color: inherit;
          text-decoration: none;
          opacity: 0.8; }
          footer .footer-20 ul li a:hover {
            opacity: 1; }
    footer .footer-20 .copyright {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
      color: black;
      border-top: 1px solid #00000026; }
