.bannerabtme {
    background-image: url(../img/100.jpg);
    width: 100vw;
    height: 75vh;
    background-size: cover;
    background-position: center;
    .textbanner1 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }
.abtme-banner {
    background-color: #3b043515;
    background-size: contain;
    height: 400px;
}

.list-form {
    list-style-type: disc;
    list-style: circle;
}

.motivacional-banner {
    background-color: #cebcdd5e;
    background-size: contain;
    height: 100px;
    font-size: 16px;
    font-weight: 600;
}

.textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif;
}

