.bannerclases {
    background-image: url(../img/261.jpg);
    width: 100vw;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    .textbanner1 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }
    