.contact-section{
    .contact-bg {
        height: 40vh;
        background: linear-gradient(rgba(176, 176, 176, 0.448), rgba(221, 208, 208, 0.426) ), url(/img/lotus.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
            h3{
                font-size: 1.3rem;
                font-weight: 400;
            }
            h2{
            font-size: 4rem;
            text-transform: uppercase;
            padding: 0.4rem 0;
            letter-spacing: 4px;
            }
            .line {
                display: flex;
                align-items: center;
            }
            .line div {
                margin: 0 0.2rem;
            }
            .line div:nth-child(1),
            .line div:nth-child(3){
                height: 3px;
                width: 70px;
                background: rgb(80, 35, 90);
                border-radius: 10px;
            }
            .line div:nth-child(2){
                width: 10px;
                height: 10px;
                background: rgb(80, 35, 90);
                border-radius: 50%;
            }
            .text {
                margin: 1.6rem 0;
            } 
    }
    .text {
        font-weight: 300;
        opacity: 0.9;
    }
    .contact-body {
        max-width: 1320px;
        margin: 0 auto;
        padding: 2rem 0;
        .contact-info {
            margin: 2rem;
            text-align: center;
            padding: 2rem 0;
            span {
                display: block;
                .fas {
                    font-size: 2rem;
                    padding-bottom: 0.9rem;
                    color: blueviolet;
                }
                .fab {
                    font-size: 2rem;
                    padding-bottom: 0.9rem;
                    color: blueviolet;
                }
            }
            div {
                margin: 0.8rem 0;
                padding: 1rem;
            }
            div span:nth-child(2){
                font-weight: 500;
                font-size: 1.1rem;
            }
            .text {
                padding-top: 0.4rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }    
    .contact-info {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }   
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
@media screen and (min-width: 1200px) {
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}