header {
    background-color: rgba(201, 180, 219, 0.85);
    .navbar {
        font-size: 1.3rem;
        font-weight: 700;
        display: inline-block;
    }
    .nav-logo {
        border-radius: 100px;
        width: 100px;
    }
}





